<head>
    <meta charset="UTF-8">
    <title>Vé F1 - Fomula</title>
    <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="css/project2.css"/>
    <link rel="stylesheet" href="css/testlancuoi.css"/>
    <link rel="stylesheet" type="text/css" href="libs/fontawesome/css/all.css"/>
</head>