<!DOCTYPE html>
<html lang="en">
<%- include("head") %>
<body>
<header>
    <a class="logo" href="http://t2004eprojectcar.herokuapp.com/">
        <img src="imgs/logo.png" width="auto" height="90">
    </a>
    <ul class="menu">
        <li><a href="http://t2004eprojectcar.herokuapp.com/"><strong><i>Trang Chủ</i></strong></a></li>
        <li>
            <a href="http://t2004eprojectcar.herokuapp.com/vedoanhnghiep"><strong><i>Vé</i></strong></a>
            <ul class="submenu">
                <li>
                    <a href="#">F1® PADDOCK CLUB™</a>
                </li>
                <li>
                    <a href="http://t2004eprojectcar.herokuapp.com/vekhandai">Vé Khán Đài</a>
                </li>
                <li>
                    <a href="http://t2004eprojectcar.herokuapp.com/vephothong">Vé Phổ Thông</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="https://t2004e36.herokuapp.com/thuvien.html"><strong><i>Thư Viện</i></strong></a>
            <ul class="submenu2">
                <li>
                    <a href="#">Du lịch Việt Nam</a>
                </li>
                <li>
                    <a href="#">Khám Phá Hà Nội</a>
                </li>
                <li>
                    <a href="#">Khách Sạn</a>
                </li>
            </ul>
        </li>
        <li><a href="#"><strong><i>Tin Tức</i></strong></a></li>
        <li><a href="#"><strong><i>Đối Tác</i></strong></a></li>
        <li><a href="http://t2004eprojectcar.herokuapp.com/signin"><strong><i>Đăng Ký</i></strong></a></li>
    </ul>
</header>
<section class="banner"></section>
<section class="main-content"></section>
<footer>
    <div class="footer">
        <div class="footer_menu">
            <div class="col_1">
                <div class="title">
                    Company
                </div>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
            <div class="col_2">
                <div class="title">
                    Help & Support
                </div>
                <ul>
                    <li><a href="#">Support Center</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Call Center</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                </ul>
            </div>
            <div class="col_3">
                <div class="title">
                    Services
                </div>
                <ul>
                    <li><a href="#">Business Consultancy</a></li>
                    <li><a href="#">Digital Marketing</a></li>
                    <li><a href="#">Market Analysis</a></li>
                    <li><a href="#">Web Development</a></li>
                </ul>
            </div>
            <div class="col_4">
                <div class="title">
                    Solutions
                </div>
                <ul>
                    <li><a href="#">Facilities Services</a></li>
                    <li><a href="#">Workplace Staffing</a></li>
                    <li><a href="#">Project Management</a></li>
                    <li><a href="#">Wordpress Management</a></li>
                </ul>
            </div>
        </div>
        <div class="partners">
            <ul>
                <li><a class="partner1" href="#"></a></li>
                <li><a class="partner2" href="#"></a></li>
                <li><a class="partner3" href="#"></a></li>
                <li><a class="partner4" href="#"></a></li>
                <li><a class="partner5" href="#"></a></li>
            </ul>
        </div>
        <div class="social_media">
            <ul>
                <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a class="instagram" href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a class="whatsapp" href="#"><i class="fab fa-whatsapp"></i></a></li>
            </ul>
            <p>Copyright © Quán Thanh Tú</p>
        </div>
    </div>
    </div>
</footer>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript">
    $(".menu > li").bind("mouseenter",function () {
        $(".submenu").hide();
        $(this).children(".submenu").slideDown();
    });
    $(".menu > li").bind("mouseleave",function () {
        $(".submenu").hide();
    });
    $(".menu > li").bind("mouseenter",function () {
        $(".submenu2").hide();
        $(this).children(".submenu2").slideDown();
    });
    $(".menu > li").bind("mouseleave",function () {
        $(".submenu2").hide();
    });
</script>
<script type="text/javascript">
    window.addEventListener("scroll",function () {
        var header = document.querySelector("header");
        header.classList.toggle("sticky", window.scrollY > 0);
    })
</script>
</body>
</html>